//META{"name":"Dark_Mode_Darker","description":"A slick theme that makes discord's dark mode even darker","author":"SHREK 5 COMING 2019#2019","version":"1.0"}*//


.da-messages{
  background-image:linear-gradient(to bottom right, #303235, #000205) !important;
}

.containerCozyBounded-1rKFAn {
  background-image:linear-gradient(to bottom right, #202225, #292B2D) !important;
  border-radius:7px !important;
  margin-top:2vh !important;
  border: none !important;
  border-top: none !important;
  border-bottom : none !important;
  outline: none !important;
}

.sidebarRegionScroller-3MXcoP{
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
.scroller-2wx7Hm{
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
.messages-3amgkR{
  background-image: linear-gradient(to bottom right, #202225, #101215) !important;
}
.members-1998pB{
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
.scroller-2TZvBN{
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
.valueUnchecked-2lU_20, .ui-switch{
  background-image:linear-gradient(to bottom right, #303235, #202225) !important;
}
.valueChecked-m-4IJZ, .ui-switch .checked{
  background-image:linear-gradient(to bottom right, #404245, #303235) !important;
}
.da-acronym{
  background-image:linear-gradient(to bottom right, #303235, #101215) !important;
}
.quickswitcher-3JagVE{
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
.input-2VB9rf{
  background-image:linear-gradient(to bottom right, #404245, #202225) !important;
  border:none !important;
}
.modal-yWgWj-{
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
.embedInner-1-fpTo{
  background-image:linear-gradient(to bottom right, #303235, #202225) !important;
}
.menu-Sp6bN1{
  background-image:linear-gradient(to bottom right, #303235, #101215) !important;
}
.container-3cGP6G{
  background-image:linear-gradient(to bottom right, #202225, #000205) !important;
}
.searchBar-2pWH0_{
  background-image:linear-gradient(to bottom right, #404245, #202225) !important;
  background-color:#00000000 !important;
}
.da-dividerContent{
  color: #505255 !important;
}
.card-3Qj_Yx[style^="border-color: rgb(114, 137, 218)"]{
  border: none !important;
  background-image: linear-gradient(to bottom right, #303235, #101215) !important;
}

.card-3Qj_Yx[style^="border-color: rgb(114, 137, 218)"] > label > div{
  border: none !important;
  background-image: linear-gradient(to bottom right, #505255, #404245);
}

.card-3Qj_Yx[style^="border-color: rgb(114, 137, 218)"] > label > div > svg > g > polyline{
  stroke: lightgray!important;
}
.uploadModal-2ifh8j{
  background-image:linear-gradient(to bottom right, #505255, #303235) !important;
}
.footer-3mqk7D{
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
.lookInverted-2D7oAl{
  background-image:linear-gradient(to bottom right, #404245, #202225) !important;
  background-color:#00000000 !important;
}
.uploadModal-2ifh8j .inner-3nWsbo{
  border-color:lightgray;
}
.da-dividerContent::before{
  border-color: #505255 !important;
}
.da-dividerContent::after{
  border-color: #505255 !important;
}
.emojiPicker-3m1S-j{
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
  border:0;
}
.category-2U57w6{
  background:inherit !important;
}
.stickyHeader-1SS0JU{
  display:none !important;
}
.theme-dark .paginator-166-09 {
    /*background-image:linear-gradient(to bottom right, #404245, #202225) !important;*/
    background-color: #40404020 !important;
}
.payment-xT17Mq {
    background-color: #00000000 !important;
}
.paymentPane-3bwJ6A {
    background-color: #10101030 !important;
}
.codeRedemptionRedirect-1wVR4b {
    background-image: linear-gradient(to bottom right, #303235, #101215) !important;
    background-color: #00000000;
}
.tier1Banner-1B_WXY {
    background-image: linear-gradient(to bottom right, #303235, #202225) !important;
}
.info-3UT5_W {
    background-color: #00000000 !important;
    background-image: linear-gradient(to bottom right, #404245, #202225) !important;
}
.guildGraphicContainer-39I_Pl {
    background-image: linear-gradient(to bottom right, #303235, #101215) !important;
}
.container-2Zlzt0 {
    background-color: #00000000 !important;
    background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
.option-n0icdO {
  background-image:linear-gradient(to bottom right, #303235, #202225) !important;
  background-color:#00000000;
}
.selected-mKYnfr.option-n0icdO{
  background-image:linear-gradient(to bottom right, #606265, #505255) !important;
  background-color:#00000000;
}
.option-n0icdO:hover {
  background-image:linear-gradient(to bottom right, #505255, #404245) !important;
  background-color:#00000000;
}
.root-1gCeng {
    background-color: #00000000 !important;
    background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
/*
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
  border:0;
}
.emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece {
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
  border:2px;
}*/
.da-dividerEnabled{
  display: none !important;
}
.inner-zqa7da{
  background-image:linear-gradient(to bottom right, #303235, #000205) !important;
}
.da-expandedFolderBackground {
  background-image: linear-gradient(to bottom right, #202225, #303235) !important;
}

.da-folderIconWrapper{
  background-image: linear-gradient(to bottom right, #202225, #303235) !important;
}
.searchBar--fTZYa{
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
.da-expandedFolderBackground {
  background-color: transparent !important;
}
.autocomplete-1vrmpx{
  background-image:linear-gradient(to bottom right, #303235, #000205) !important;
}

.da-directionColumn {
  /*background-image:linear-gradient(to bottom right, #202225, #101215) !important;*/
  background-color:transparent;
}

/*
.da-gameNameLastPlayed{
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}*/

.game-1ipmAa:hover{
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
.selected-3s45Ha{
  background-image:linear-gradient(to bottom right, #404245, #303235) !important;
}
.contentRegion-3nDuYy{
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
.da-notDetected{
  background-color:transparent !important;
}
.da-channelNotice {
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
.container-3baos1{
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
.header-2BwW8b{
  background-image:linear-gradient(to bottom right, #0F1112, #000205) !important;
}
.footer-1fjuF6{
  background-image:linear-gradient(to bottom right, #303235, #202225) !important;
}
.da-quickMessage{
  background-image:linear-gradient(to bottom right, #303235, #101215) !important;
  border:0;
}
.arrowAlignmentTop-1yftWI{
    background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
.header-QKLPzZ{
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
.da-tabBarContainer{
  background-image:linear-gradient(to bottom right, #232527, #101215) !important;
  border-top:0;
}
.body-3iLsc4{
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
form {
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
  margin:0 !important;
  padding-left:2% !important;
  padding-right:2% !important;

}
.container-1r6BKw {
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
.da-modal{
  background-color:transparent;
}
.footer-1fjuF6{
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
  border:0;
}
.message-2qRu38 {
    background-color: #00000000 !important;
    border:none !important;
}
.hasMoreButton-1MELpI {
    background-color: transparent !important;
    background-image:linear-gradient(to bottom right, #202225, #101215) !important;
    border:none !important;
}
.da-noChannel{
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
.da-typeWindows{
  background-color: #050505 !important;
  margin:0 !important;
  border:0 !important;
  padding-bottom:3px !important;
  padding-top:4px !important;
}

.da-member:hover{
  background-image:linear-gradient(to bottom right, #353739, #1B1D1F) !important;
  border-bottom:0 !important;
}
.da-children::after{
  display:none !important;
}
.da-hasDropdown{
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
.da-search{
  background-image:linear-gradient(to bottom right, #101215, #202225) !important;
}
.da-unread::before{
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
.da-coloredText{
  background:transparent;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-image:linear-gradient(to bottom right, #202225, #101215) !important;
    border-image:linear-gradient(to bottom right, #202225, #101215) !important;
    border: 3px solid #36393f;
    border-radius: 7px;
}
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom left, #202225, #101215) !important;
    border-color: #101215 !important;
}
.scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-image:linear-gradient(to bottom right, #202225, #101215) !important;
}
.messageGroupWrapper-o-Zw7G{
  background-color:transparent!important;
  border:0 !important;
  border-radius:0 !important;
}
.actionButtons-1sUUug{
  box-shadow:none !important;
  background-color:transparent !important;
}
.header-2tA9Os{
  background-color:transparent;
}
.modal-1sor29{
  background-image:linear-gradient(to bottom right, #202225, #101215);
}
.header-ykumBX{
  background-image:linear-gradient(to bottom right, #303235, #202225);
}
.scrollerWrap-2lJEkd{
  background-image:linear-gradient(to bottom right, #202225, #101215);
}
.jumpButton-3DTcS_{
  margin:0 !important;
  border-radius:7px;
}
.popout-103y-5{
  background-image:linear-gradient(to bottom right, #202225, #101215);
}
.da-typing{
  background-color:transparent !important;
}

.da-contentColumnDefault:{
  background-color:transparent !important;
}
.da-game{
  background-color:transparent;
}
.footer-3rDWdC{
  background-color:transparent !important;
}
.content-KhOrDM{
  background-color:transparent !important;
}
.content-1EtbQh{
  background-color:transparent !important;
  background-image:none !important;
}
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-image:linear-gradient(to bottom right, #303235, #202225) !important;
    border:none !important;
}
#bd-pub-li{
  display:none;
}
